.size_container {
	position: relative;
	width: 60px;
	height: 20px;
}
.size_input {
	display: block !important;
	height: 16px !important;
	padding: 3px !important;
	margin: 0;
	font-weight: bold;
	color: #666 !important;
	text-align: center;
	font-size: 11px !important;
	width: 25px;
	padding-right: 14px !important;
	border-radius: 4px !important;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px !important;
	outline: none;
	border: 1px solid #bbb !important;
	-webkit-box-sizing: unset;
    box-sizing: unset;
}
.size_input:hover {
	border: 1px solid #999;
	background-color: #fffcd6;
}
.size_arrows {
	display: block;
	position: absolute;
	background: transparent url("../images/bg_size_arrows.png") 2px 1px no-repeat;
	width: 14px;
	height: 23px;
	left: 29px;
	top: 1px;
	cursor: pointer;
}
.size_up {
	width: 14px;
	height: 12px;
	position: absolute;
	top: 0px;
	left: 0;
	cursor: pointer;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
}
.size_up:hover,.size_down:hover {
	box-shadow: inset 0 0 10px #bbb;
}
.size_down {
	width: 14px;
	height: 12px;
	position: absolute;
	bottom: 0px;
	cursor: pointer;
	left: 0;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
}
.pix_info {
	position: absolute;
	left: 48px;
	font-size: 12px;
	color: #666;
	top: 2px;
	font-weight: bold;
}
.text_area {
	padding: 3px;
	color: #666;
	font-size: 11px;
	width: 80px;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	outline: none;
	border: 1px solid #bbb;
}
#preview_dummy {
	position: fixed;
	left: 0;
	top: 0px;
}

.preview_box {
	position: absolute;
	top: 62px;
	left: 430px;
	width: 600px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	outline: none;
	border: 1px solid #bbb;
	z-index: 1;
	padding: 15px;
	background-color: #EDEDED;
	box-shadow: 0 0 14px #666;
}
.preview_name {
	padding: 3px;
	color: #777;
	font-size: 12px;
	font-weight: bold;
	text-align: left;
	margin-bottom: -7px;
}
.colorpicker {
	z-index: 1000;
}

.sep_td {
padding: 8px;
border-radius: 8px;
border: 1px solid #0E2BB8;
background-color: #BFC8F5;
color: #0E2BB8;
font-weight: bold;
font-size: 15px;
text-shadow: 0 0 8px white;
text-align: center;
margin: 3px 0;
box-shadow: inset 0 0 20px 2px #0E2bb8;
width: 346px;
}

.temp_select {
	padding: 3px;
	border-radius: 5px;
	cursor: pointer;
	outline: none;
	margin: 4px 0 0 0;
	color: #666;
	font-weight: bold;
	width: 95px;
	font-size: 11px;
}
.temp_family {
	color: #666;
	font-weight: bold;
	padding: 3px;
	border-radius: 5px;
	outline: none;
	width: 95px;
}
.temp_data_container {
padding: 5px;
background-color: #DDD;
border-radius: 8px;
box-shadow: inset 0 0 25px 3px #999;
border: 1px solid #888;
margin-left: 15px;
}
.temp_data_container:hover {
box-shadow: inset 0 0 30px 5px #999;
}
.temp_table td{
	padding: 3px;
color: #333;
}
.temp_table td.key{
	width: 220px;
	font-weight: bold;
}
.temp_block {
	padding: 2px 0 2px 25px;
	font-weight: bold;
	font-size: 14px;
	color: #333;
	cursor: pointer;
}
.temp_block.closed {
	background: url("../images/arrow-right.png") 2px 1px no-repeat;
}
.temp_block.opened {
	background: url("../images/arrow-down.png") 2px 2px no-repeat;
}
.st_td {
	width: 95px;
}
.answers_switcher {
	cursor: pointer;
	font-style: italic;
	font-size: 12px;
	color: #091BE0;
	text-decoration: underline;
	position: absolute;
	top: 9px;
	right: 15px;
}
.answers_switcher:hover {
	text-decoration: none;
}
.main_view,.answers_view {
	width: 600px;
}

.answer_wrapper {
	/*height: 0;*/
	clear: both;
}
.add_answer {
	padding: 2px 0px 2px 25px;
	position: relative;
	background: transparent url("../images/bg_plus.png") no-repeat 6px center;
	margin: 0;
}
.add_answer .loading_small{
	position: absolute;
	right: 3px;
	top: 2px;
	height: 25px;
	display: none;
}
.add_ans_name:focus {
	outline: none;
	border: none;
background: none;
}
.add_ans_name {
	outline: none;
	border: none;
	width: 100%;
	height: 100%;
	background-color: transparent;
	margin: 0;
	padding: 0;
}
.add_ans_submit {
	position: absolute;
	background: none;
	border: none;
	right: 0;
	top: -1px;
	cursor: pointer;
	bottom: -1px;
	padding: 1px 6px;
}

.temp_data_container label {
	width: 100%;
font-size: 11px;
}