<?xml version="1.0" encoding="utf-8"?>
<config>
	<fieldset
		name="general"
		label="COM_SEXYPOLLING_CONFIG_GENERAL_SETTINGS_LABEL"
		description="COM_SEXYPOLLING_CONFIG_GENERAL_SETTINGS_DESC"
		addfieldprefix="Joomla\Component\SexyPolling\Administrator\Field"
	>
		<field
			name="separator_for_csv_export"
			type="text"
			label="COM_SEXYPOLLING_CONFIG_SEPARATOR_CSV_EXPORT_LABEL"
			description="COM_SEXYPOLLING_CONFIG_SEPARATOR_CSV_EXPORT_DESC"
            required="true"
            filter="string"
            class="inputbox"
            default=";"    
            maxlength="1" 
		/>
	</fieldset>

	<fieldset
		name="permissions"
		label="JCONFIG_PERMISSIONS_LABEL"
		description="JCONFIG_PERMISSIONS_DESC"
	>
		<field
			name="rules"
			type="rules"
			label="JCONFIG_PERMISSIONS_LABEL"
			class="inputbox"
			validate="rules"
			filter="rules"
			component="com_sexypolling"
			section="component"
		/>
   </fieldset>

</config>
